<div class="container">
  <div class="row justify-content-between m-2">
    <div class=".col-xs-2 h3">
      {{ session?.name }}
    </div>
    <div class=".col-xs-6 d-flex">
      <div *ngIf="sessions != []">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Select Session
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let session of sessions">
              <button ngbDropdownItem routerLink="/detail/{{ session.id }}">
                {{ session.name }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-5" *ngIf="questionTemplates != []">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Select Template
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let template of questionTemplates">
              <button ngbDropdownItem>{{ template.name }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-10 mx-auto mt-3">
    <div class="mb-2">
      <span class="h4">Questions </span
      ><span>total - {{ questions ? questions.length : 0 }}</span>
    </div>
    <div class="questions-container">
      <div *ngFor="let question of questions">
        <div class="wrapper mb-2">
          <div class="question">
            <span class="h5">{{ question.feedback }}</span>
            <span class="question-details"
              >{{ question.createdBy }} -
              {{ question.createdOn.toLocaleDateString() }}</span
            >
          </div>
          <div class="icons">
            <i class="fas fa-pen-square icon fa-lg actions"></i>
            <i class="fas fa-times-circle fa-lg actions"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new-session-btn mt-3">
    <button class="btn"><i class="fas fa-plus"></i> Add More</button>
  </div>
</div>
