<div class="container">
  <div class="row justify-content-between">
    <div class=".col-xs-2 h3">
      {{ session?.name }}
    </div>
    <div class=".col-xs-6 d-flex">
      <div *ngIf="sessions != []">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Select Session
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let session of sessions">
              <button ngbDropdownItem>{{ session.name }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-5" *ngIf="questionTemplates != []">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Select Template
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let template of questionTemplates">
              <button ngbDropdownItem>{{ template.name }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
