<ng-template #editContent>
  <div class="modal-header">
    <h4 class="modal-title">Update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="dismissModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!isUpdated; else updateSucessBlock">
      <label for="sessionName">Session Name</label>
      <input
        type="text"
        class="form-control mb-2"
        id="sessionName"
        aria-describedby="sessionNameHelp"
        placeholder="Session Name"
        [(ngModel)]="sessionName"
        (ngModelChange)="onNameChange($event)"
      />
      <label for="conducedBy">Conducted By</label>
      <input
        type="text"
        class="form-control mb-2"
        id="conducedBy"
        aria-describedby="conducedByHelp"
        placeholder="Conducted By"
        [(ngModel)]="conductedBy"
        (ngModelChange)="onConductedByChange($event)"
      />
      <label for="conductedOn">Conducted On</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          id="conductedOn"
          [value]="conductedOn"
          (dateSelect)="onDateChange($event)"
          ngbDatepicker
          #d="ngbDatepicker"
          [placement]="datePickerPlacement"
          [positionTarget]="buttonEl"
        />
        <div class="input-group-append">
          <button
            #buttonEl
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          >
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
        <div class="timepicker">
          <ngb-timepicker
            [(ngModel)]="sessionTime"
            size="small"
          ></ngb-timepicker>
        </div>
      </div>
    </div>
    <ng-template #updateSucessBlock>
      <div class="alert alert-success">Session Successfully Updated!</div>
    </ng-template>
    <div class="alert alert-danger mt-2" *ngIf="error != null">{{ error }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeModal()">
      {{ !isUpdated ? "Cancel" : "Close" }}
    </button>
    <button
      *ngIf="!isUpdated"
      type="button"
      class="btn btn-primary"
      (click)="updatedSession()"
    >
      Update
    </button>
  </div>
</ng-template>
