<h1 mat-dialog-title>Add</h1>
<div mat-dialog-content>
  <div class="form-group">
    <label for="sessionName">Session Name</label>
    <input
      type="text"
      class="form-control"
      id="sessionName"
      aria-describedby="sessionNameInfo"
      placeholder="Session Name"
      autocomplete="new-password"
    />
    <small id="sessionNameInfo" class="form-text text-muted"
      >*characters should be greater than 5</small
    >
  </div>
  <div class="form-group">
    <label for="conductedBy">Conducted By</label>
    <input
      type="text"
      class="form-control"
      id="conductedBy"
      aria-describedby="sessionConductedByInfo"
      placeholder="Conducted By"
      autocomplete="new-password"
    />
    <small id="sessionConductedByInfo" class="form-text text-muted"></small>
  </div>
</div>
<div class="mat-actions" mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button class="add-session-btn" mat-button mat-raised-button color="primary">
    Add
  </button>
</div>
