<h1 mat-dialog-title>Update</h1>
<div mat-dialog-content>
  <div class="form-group">
    <label for="sessionName">Session Name</label>
    <input
      type="text"
      class="form-control"
      id="sessionName"
      aria-describedby="sessionInfo"
      placeholder="Session Name"
      value="{{ session.name }}"
    />
    <small id="sessionInfo" class="form-text text-muted"
      >characters should be greater than 5</small
    >
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-raised-button color="primary">Update</button>
</div>
