<div *ngIf="sessions != []">
  <div class="container-fluid mb-2">
    <div class="text-center mt-1 header">
      <div class="title"><h1>Sessions</h1></div>
      <div class="new-session-btn">
        <button class="btn" (click)="openAddModal()">
          <i class="fas fa-plus"></i> New Session
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let session of sessions">
        <div class="box">
          <div class="our-sessions speedup">
            <div ngbDropdown>
              <i
                class="far fa-chevron-circle-down more-button"
                ngbDropdownToggle
              ></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="openEditModal(session)">
                  <i class="fas fa-pen-square icon"></i>Edit
                </button>
                <button ngbDropdownItem (click)="openDeleteModal(session)">
                  <i class="fas fa-trash icon"></i>Delete
                </button>
              </div>
            </div>

            <div routerLink="/detail/{{ session.id }}">
              <div>
                <h4 text-truncate>{{ session.name }}</h4>
              </div>
              <div class="details">
                <div>Conducted By : {{ session.conductedBy }}</div>
                <div>
                  Conducted On :
                  {{ session.conductedOn ? session.conductedOn : null }}
                </div>
                <div>
                  Created On : {{ session.createdOn.toDateString() }} Time :
                  {{ session.createdOn.toLocaleTimeString() }}
                </div>
                <div>Created By : {{ session.createdBy }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-session-edit-model
  #edit
  (getAllSessions)="GetAllSessions()"
></app-session-edit-model>
<app-session-delete-modal
  #delete
  (getAllSessions)="GetAllSessions()"
></app-session-delete-modal>
<app-session-add-modal
  #add
  (getAllSessions)="GetAllSessions()"
></app-session-add-modal>
