<div *ngIf="sessions != []">
  <div class="container-fluid mb-2">
    <div class="text-center mt-1 header">
      <div class="title"><h1>Sessions</h1></div>
      <div class="new-session-btn">
        <button mat-raised-button><mat-icon>add</mat-icon> New Session</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let session of sessions">
        <div class="box">
          <div class="our-sessions speedup">
            <div ngbDropdown>
              <i
                class="far fa-chevron-circle-down more-button"
                ngbDropdownToggle
              ></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="openEditModal(session)">
                  <i class="fas fa-pen-square icon"></i>Edit
                </button>
                <button ngbDropdownItem>
                  <i class="fas fa-trash icon"></i>Delete
                </button>
              </div>
            </div>

            <div routerLink="/detail/{{ session.id }}">
              <div>
                <h4>{{ session.name }}</h4>
              </div>
              <div class="details">
                <div>ConductedBy : {{ session.conductedBy }}</div>
                <div>
                  CreatedOn : {{ session.createdOn.toLocaleDateString() }}
                </div>
                <div>CreatedBy : {{ session.createdBy }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-session-edit-model #edit></app-session-edit-model>
